@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.header {
  font-family: 'inter';
  font-weight: 700;
  font-size: 44px;
}

.para {
  font-size: 16px;
  font-family: 'inter';
  font-weight: 400;
  color: #737B7D;
}

.food_img {
  border-radius: 20px;
  height: 250px;
}

.card {
  border-radius: 20px;
  width: 16rem;
  border-color: black;
}